-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "member" (
    "id" SERIAL NOT NULL,
    "providerUid" TEXT NOT NULL,
    "username" TEXT,
    "accessUntil" TIMESTAMP(3),
    "isMember" BOOLEAN NOT NULL DEFAULT false,
    "ftdAmount" TEXT NOT NULL DEFAULT '0.00',
    "recentDepositAmount" TEXT NOT NULL DEFAULT '0.00',
    "lastSyncedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "member_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "match" (
    "id" SERIAL NOT NULL,
    "matchId" INTEGER NOT NULL,
    "league" TEXT NOT NULL,
    "homeTeam" TEXT NOT NULL,
    "awayTeam" TEXT NOT NULL,
    "matchDate" TIMESTAMP(3) NOT NULL,
    "homeTeamForm" TEXT,
    "awayTeamForm" TEXT,
    "homeOdds" DOUBLE PRECISION,
    "drawOdds" DOUBLE PRECISION,
    "awayOdds" DOUBLE PRECISION,
    "over25Odds" DOUBLE PRECISION,
    "under25Odds" DOUBLE PRECISION,
    "homeWinProb" DOUBLE PRECISION,
    "drawProb" DOUBLE PRECISION,
    "awayWinProb" DOUBLE PRECISION,
    "headToHead" TEXT[],
    "correctScore" TEXT,
    "ftHandicap" TEXT,
    "bestBet" TEXT,
    "analysis" TEXT,
    "analyzed" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "match_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "member_providerUid_key" ON "member"("providerUid");

-- CreateIndex
CREATE UNIQUE INDEX "match_matchId_key" ON "match"("matchId");

